/* main css of the website */

/* root colors */
:root{
  --cl_0:#29211E; /* fears :: dark colour */
  --cl_1:#3F3430; /* the life pursuit :: brigher than previous but dark */
  --cl_2:#7B4E39; /* birds of a theather :: brown - not very dark */
  --cl_3:#02080D; /* owls on the moon :: brighter than previous - brown */
  --cl_4:#643E33; /* smiley :: brown with a tent of brick - darker than previous */
  --cl_5:#01A8B3; /* magician's assistent :: moderate blue - perfect for contrast*/
  --cl_6:#FF9E00; /* orange fun :: orange - perfect to alternate with previous */
  --cl_7:#000000; /* pure black :: may be useful */
  --cl_8:#ffffff; /* pure white :: may be useful */
};

/* sips from tea -- let there be Radagast */

*{margin:0;}
html, body{
  height:100%;
  overflow: hidden;
}

/* the topbar */
#arc_topbar {

    position:fixed;
    width:100%;
    height:100px; /* See #wrapper bottom value */
    background-image: url(banner_texture_100x.png);
    background-repeat: repeat;
    background-color: var(--cl_0);
    border-bottom : 1px solid var(--cl_6);
    padding : 0px ;
    z-index:2;
}

#banner_span {
  height: 100px;
  background-color: rgba(0,0,0,0.25)
}

#banner_title {
    font-family: Arcade;
    font-size : 80px;
    color : var(--cl_6);
    margin: 0px;
    height : 100px;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top-right-radius : 625px;
    border-bottom-right-radius : 625px;
    border-top: 1px solid var(--cl_6);
    border-bottom: 1px solid var(--cl_6);
}


/* the container */

#arc_page {
    position:absolute;
    width:100%;
    bottom:40px;
    top:100px; /* compensate #top height */
}


/* the navigation*/

#titlebctrl {
	margin: 0px;
	padding: 15px;
  height: 100px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(0,0,0,0.5);
  border-top-left-radius : 625px;
  border-bottom-left-radius : 625px;
  border-top: 1px solid var(--cl_6);
  border-bottom: 1px solid var(--cl_6);
}

#titlebctrl li {
	-webkit-app-region: no-drag;
	display:inline-flex;
	font-size: auto;
	color :var(--cl_6);
	margin-left:20px;
  font-weight: bold;
  cursor: default;
  padding : 10px
}

#titlebctrl li:hover {

  color: var(--cl_8);
}

#titlebctrl span {
    margin-right : 10px;
}

 .menu_off {

    color : var(--cl_6);
}

.menu_off:hover {

   color : var(--cl_8);
}

.menu_on {

    color : var(--cl_8);
}

.tme {
  background-color: rgba(0,0,0,0.5);
  border-radius : 625px;

}

.tme:hover {
  background-color: rgba(4, 109, 139,0.5);
  border-bottom: 1px solid var(--cl_6);
}

#arc_side{
  position:absolute;
  background-image: url(nav_texture_100x.png) ;
  height:100%;
  right: -200px;
  width:200px;   /* See #right left value */
  overflow-y:auto; /* make scrollable if content overflows */
  overflow-x: hidden;
  border-left : 1px solid var(--cl_6);


  scrollbar-face-color: var(--cl_1);
    scrollbar-shadow-color: var(--cl_3);
    scrollbar-highlight-color: var(--cl_3);
    scrollbar-3dlight-color: var(--cl_3);
    scrollbar-darkshadow-color: var(--cl_3);
    scrollbar-track-color: var(--cl_3);
    scrollbar-arrow-color: var(--cl_3);
}

#arc_side::-webkit-scrollbar {
    width: 8px;
}

#arc_side::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--cl_0);
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
}

#arc_side::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
    background: var(--cl_0);
    -webkit-box-shadow: inset 0 0 6px var(--cl_0);
}

#arc_main{
  position:absolute;
  left:0;
  right:0; /* compensate #left width */
  bottom:0px;
  height:100%;
  overflow-y:auto; /* make scrollable if content overflows */
  overflow-x: hidden;
  background:var(--cl_3);

  scrollbar-face-color: var(--cl_1);
    scrollbar-shadow-color: var(--cl_3);
    scrollbar-highlight-color: var(--cl_3);
    scrollbar-3dlight-color: var(--cl_3);
    scrollbar-darkshadow-color: var(--cl_3);
    scrollbar-track-color: var(--cl_3);
    scrollbar-arrow-color: var(--cl_3);

}

#arc_main::-webkit-scrollbar {
    width: 8px;
}

#arc_main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--cl_0);
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
}

#arc_main::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
    background: var(--cl_6);
    -webkit-box-shadow: inset 0 0 6px var(--cl_0);
}


#arc_footer {
    position: absolute;
    bottom:0;
    height : 40px;
    width : 100%;
    background-image: url(banner_texture_100x.png);
    background-repeat: repeat;
    background-color: var(--cl_0);
    padding: 10px;
    border-top: 1px solid var(--cl_6);
    overflow : hidden;

}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* specific page css */

/* rezumat */

#p_rezumat_banner {
  width : 100%;
  height: auto;
  background-color: #046D8B ;
  color : var(--cl_8);
  padding : 20px;
  font-size : 32px;
  border-bottom : 1px solid var(--cl_8);
}

#p_rezumat_ul_1 {
  width : 100%;
  height:auto;
  margin: 0px;
  padding:0px;
  display: inline-flex;
  background-color: inherit;
}

#p_rezumat_ul_1 li {
  -webkit-app-region: no-drag;
  cursor: default;
  display:block;
  width : 50%;
  padding: 20px;
  border: 1px solid var(--cl_8);
  color : var(--cl_6);
}

#p_rezumat_ul_2 {
  width : 100%;
  height:auto;
  margin: 0px;
  padding:0px;
  display: inline-flex;
  background-color: inherit;
}

#p_rezumat_ul_2 li {
  -webkit-app-region: no-drag;
  cursor: default;
  display:block;
  width : 50%;
  padding: 20px;
  border: 1px solid var(--cl_8);
  color : var(--cl_6);
}

#p_rezumat_content {
  color : var(--cl_8);
  padding:20px;
  font-size: 16px;
}

/* contact */

#p_contact_banner {
  width : 100%;
  height: auto;
  background-color: #046D8B ;
  color : var(--cl_8);
  padding : 20px;
  font-size : 32px;
  border-bottom : 1px solid var(--cl_8);
}

.p_contact_pentry {
  color : var(--cl_6);
  border-bottom: 1px solid var(--cl_8);
  padding: 20px;
}

.p_contact_pentry .pcpename {
  color : var(--cl_8);
}

.pcpof {
  color : #0099ff;
}

.generic_ahref {
  text-decoration:none;
}

#p_contact_team_list ul {
   margin:0px;
   padding:0px;
   display: block;

}

#p_contact_team_list ul li {

    padding:20px;
    color: var(--cl_8);
    font-size: 16px;
}

#p_contact_team_list_title {

  color: var(--cl_8);
}

/* activitati */

#p_activitati_banner {
  width : 100%;
  height: auto;
  background-color: #046D8B ;
  color : var(--cl_8);
  padding : 20px;
  font-size : 32px;
  border-bottom : 1px solid var(--cl_8);
}

#p_activitati_content ul {
  margin:0px;
  padding:0px;
  width : 100%;
  display: inline-flex;
}

#p_activitati_content li {
  margin: 0px;
  padding: 10px;
  border : 1px solid var(--cl_8);
  color : var(--cl_8);
  font-size: 16px;
  display: block;
}

 .arc-cl1 {
  width:20%;
}

 .arc-cl2 {
  width:80%;
}

/* obiective */

#p_obiective_banner {
  width : 100%;
  height: auto;
  background-color: #046D8B ;
  color : var(--cl_8);
  padding : 20px;
  font-size : 32px;
  border-bottom : 1px solid var(--cl_8);
}

#p_obiective_content p {
  color : var(--cl_8);
  padding : 10px;
  font-size : 16px;
  border-bottom : 1px solid var(--cl_8);

}
