/* main css of the website */

/* root colors */
:root{
  --cl_0:#29211E; /* fears :: dark colour */
  --cl_1:#3F3430; /* the life pursuit :: brigher than previous but dark */
  --cl_2:#7B4E39; /* birds of a theather :: brown - not very dark */
  --cl_3:#936649; /* owls on the moon :: brighter than previous - brown */
  --cl_4:#643E33; /* smiley :: brown with a tent of brick - darker than previous */
  --cl_5:#01A8B3; /* magician's assistent :: moderate blue - perfect for contrast*/
  --cl_6:#FF9E00; /* orange fun :: orange - perfect to alternate with previous */
  --cl_7:#000000; /* pure black :: may be useful */
  --cl_8:#ffffff; /* pure white :: may be useful */
};

/* sips from tea -- let there be Radagast */

*{margin:0;}
html, body{
  height:100%;
  overflow-x: hidden;
}

/* the topbar */
#arc_topbar {

    position:fixed;
    width:100%;
    height:100px; /* See #wrapper bottom value */
    background: var(--cl_0);
    z-index:2;
}

/* the banner */
#arc_banner {

    width : 100%;
    height : 100px;
    background-image: url(banner_texture_100x.png);
    background-repeat: repeat;
    background-color: var(--cl_0);
    border-bottom : 1px solid var(--cl_7);
    padding : 10px ;
}

#banner_title {
    font-family: Immortal;
    color : var(--cl_6);
}


/* the container */

#arc_page {
    position:absolute;
    width:100%;
    bottom:0;
    top:100px; /* compensate #top height */
}


/* the navigation*/

#arc_mb {
    padding : 0px;
    position : absolute;
    top : 60px;
    right : 40px;
    font-size: 32px;
}

 .menu_off {

    color : var(--cl_6);
}

.menu_off:hover {

   color : var(--cl_8);
}

 .menu_on {

    color : var(--cl_8);
}


#arc_side{
  position:absolute;
  background-image: url(nav_texture_100x.png) ;
  height:100%;
  right: -200px;
  width:200px;   /* See #right left value */
  overflow-y:auto; /* make scrollable if content overflows */
  overflow-x: hidden;
  border-left : 1px solid var(--cl_7);


  scrollbar-face-color: var(--cl_1);
    scrollbar-shadow-color: var(--cl_3);
    scrollbar-highlight-color: var(--cl_3);
    scrollbar-3dlight-color: var(--cl_3);
    scrollbar-darkshadow-color: var(--cl_3);
    scrollbar-track-color: var(--cl_3);
    scrollbar-arrow-color: var(--cl_3);
}

#arc_side::-webkit-scrollbar {
    width: 8px;
}

#arc_side::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--cl_0);
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
}

#arc_side::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
    background: var(--cl_0);
    -webkit-box-shadow: inset 0 0 6px var(--cl_0);
}

#arc_main{
  position:absolute;
  left:0;
  right:0; /* compensate #left width */
  bottom:60px;
  height:100%;
  background:var(--cl_3);

}
#arc_footer {
    position: absolute;
    bottom:0;
    height : 60px;
    width : 100%;
    background-image: url(banner_texture_100x.png);
    background-repeat: repeat;
    background-color: var(--cl_0);
    padding: 10px;
    border-top: 1px solid var(--cl_7);
    overflow : hidden;

}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
