/* main css of the website */

/* root colors */
:root{
  --cl_0:#29211E; /* fears :: dark colour */
  --cl_1:#3F3430; /* the life pursuit :: brigher than previous but dark */
  --cl_2:#7B4E39; /* birds of a theather :: brown - not very dark */
  --cl_3:#02080D; /* owls on the moon :: brighter than previous - brown */
  --cl_4:#643E33; /* smiley :: brown with a tent of brick - darker than previous */
  --cl_5:#01A8B3; /* magician's assistent :: moderate blue - perfect for contrast*/
  --cl_6:#FF9E00; /* orange fun :: orange - perfect to alternate with previous */
  --cl_7:#000000; /* pure black :: may be useful */
  --cl_8:#ffffff; /* pure white :: may be useful */
};

/* sips from tea -- let there be Radagast */

*{margin:0;}
html, body{
  height:100%;
  overflow-x: hidden;
}

/* the topbar */
#arc_topbar {

    position:fixed;
    width:100%;
    height:100px; /* See #wrapper bottom value */
    background-image: url(banner_texture_100x.png);
    background-repeat: repeat;
    background-color: var(--cl_0);
    border-bottom : 1px solid var(--cl_6);
    padding : 0px ;
    z-index:2;
}

#banner_span {
  height: 100px;
  background-color: rgba(0,0,0,0.25)
}

#banner_title {
    font-family: Arcade;
    font-size : 80px;
    color : var(--cl_6);
    margin: 0px;
    height : 100px;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top-right-radius : 625px;
    border-bottom-right-radius : 625px;
    border-top: 1px solid var(--cl_6);
    border-bottom: 1px solid var(--cl_6);
}


/* the container */

#arc_page {
    position:absolute;
    width:100%;
    bottom:40px;
    top:100px; /* compensate #top height */
}


/* the navigation*/

#titlebctrl {
	margin: 0px;
	padding: 15px;
  height: 100px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(0,0,0,0.5);
  border-top-left-radius : 625px;
  border-bottom-left-radius : 625px;
  border-top: 1px solid var(--cl_6);
  border-bottom: 1px solid var(--cl_6);
}

#titlebctrl li {
	-webkit-app-region: no-drag;
	display:inline-flex;
	font-size: 32px;
	color :var(--cl_6);
	margin-left:20px;
  font-weight: bold;
  cursor: default;
  padding : 10px
}

#titlebctrl li:hover {

  color: var(--cl_8);
}

#titlebctrl span {
    margin-right : 10px;
}

 .menu_off {

    color : var(--cl_6);
}

.menu_off:hover {

   color : var(--cl_8);
}

.menu_on {

    color : var(--cl_8);
}

.tme {
  background-color: rgba(0,0,0,0.5);
  border-radius : 625px;

}

.tme:hover {
  background-color: rgba(4, 109, 139,0.5);
  border-bottom: 1px solid var(--cl_6);
}

#arc_side{
  position:absolute;
  background-image: url(nav_texture_100x.png) ;
  height:100%;
  right: -200px;
  width:200px;   /* See #right left value */
  overflow-y:auto; /* make scrollable if content overflows */
  overflow-x: hidden;
  border-left : 1px solid var(--cl_6);


  scrollbar-face-color: var(--cl_1);
    scrollbar-shadow-color: var(--cl_3);
    scrollbar-highlight-color: var(--cl_3);
    scrollbar-3dlight-color: var(--cl_3);
    scrollbar-darkshadow-color: var(--cl_3);
    scrollbar-track-color: var(--cl_3);
    scrollbar-arrow-color: var(--cl_3);
}

#arc_side::-webkit-scrollbar {
    width: 8px;
}

#arc_side::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--cl_0);
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
}

#arc_side::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
    background: var(--cl_0);
    -webkit-box-shadow: inset 0 0 6px var(--cl_0);
}

#arc_main{
  position:absolute;
  left:0;
  right:0; /* compensate #left width */
  bottom:0px;
  height:100%;
  background:var(--cl_3);

}
#arc_footer {
    position: absolute;
    bottom:0;
    height : 40px;
    width : 100%;
    background-image: url(banner_texture_100x.png);
    background-repeat: repeat;
    background-color: var(--cl_0);
    padding: 10px;
    border-top: 1px solid var(--cl_6);
    overflow : hidden;

}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
