@font-face {
    font-family: Immortal;
    src: url(immortal.ttf);
}

@font-face {
    font-family: Cinzel;
    font-weight: normal;
    src: url(Cinzel-Regular.ttf);
}

@font-face {
    font-family: Cinzel;
    font-weight: bold;
    src: url(Cinzel-Bold.ttf);
}

@font-face {
    font-family: Cinzel;
    font-weight: bolder;
    src: url(Cinzel-Black.ttf);
}
